# Created by https://www.toptal.com/developers/gitignore/api/jupyternotebooks
# Edit at https://www.toptal.com/developers/gitignore?templates=jupyternotebooks

### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py
*/__pycache__/*

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

# End of https://www.toptal.com/developers/gitignore/api/jupyternotebooks


# Test folder 
/tests/*
/herbaria--plant-labeling/*
# notebooks temp files
/ipynb*

# images & downloaded
*.zip
*.jpg
/OLD_to_remove/
/testing/

/src/Mask_RCNN/
